<div class="form_container">
  <h2>Contact Form</h2>

  <%= form_with url: "/contact", method: :post do |form| %>
    <div class="form_message">
      <p class="form_message-error">
        <%= "* #{@res[:error]}" if res[:error] %>
      </p>
      <p class="form_message-successful">
        <%= "* Contacto Enviado" if res[:status] %>
      </p>
    </div>
    
    <div>
      <%= form.text_field :public_id, hidden: true, value: property.public_id %> 
    </div>
    <div class="form_input">
      <%= form.label :name, "Name" %>
      <%= form.text_field :name %> 
    </div>
    <br>
    <div class="form_input">
      <%= form.label :phone, "Phone" %>
      <%= form.telephone_field :phone %> 
    </div>
    <br>
    <div class="form_input">
      <%= form.label :email, "Email" %>
      <%= form.email_field :email %> 
    </div>
    <br>
    <div class="form_input">
      <%= form.label :message, "Message" %>
      <%= form.text_area :message %> 
    </div>
    <br>
    <div class="form_submit">
      <%= form.submit "Enviar" %>
    </div>
  <% end %>
</div>