<div class="property_card">
  <%= link_to(property_url(id: property.public_id, page: page)) do %>
    <div class="property_card-container">
      <p class="property_card-id">
        <strong>ID:</strong>
        <%= property.public_id %>
      </p>

      <p class="title">
        <%= property.title %>
      </p>

      <p class="property_card-others">
        <strong>Property type:</strong>
        <%= property.property_type %>
      </p>

      <p class="property_card-others">
        <strong>Location:</strong>
        <%= property.location %>
      </p>

      <div class="property_card-image">
        <% if !property.title_image_thumb %>
          <p>
            No hay imagen para mostrar
          </p> 
        <% else %>
          <%= image_tag "#{property.title_image_thumb}"%>  
        <% end %>
      </div>
    </div>  
  <% end %>
</div>
