<div class="main-container">
  <div class="show_title">
    <p>
      <%= @property.title %>
    </p>
  </div>
  <div class="show_message">
    <p class="form_message-error">
      <%= "* #{@res[:error]}" if @res[:error] %>
    </p>
    <p class="form_message-successful">
      <%= "* Contacto Enviado" if @res[:status] %>
    </p>
  </div>
  <div class="show_return">
    <%= link_to "RETURN TO PROPERTIES", properties_path(page: @page) %>
  </div>
  <div class="show_content">
    <p class="show_content-id">
      <strong>ID:</strong>
      <%= @property.public_id %>
    </p>
    <p class="show_content-description">
      <%= @property.description %>
    </p>

    <div class="show_content-image">
      <% if @property.property_images.empty? %>
        <p>
          No hay imagen para mostrar
        </p>
      <% else %>
        <%= image_tag "#{@property.property_images[0]['url']}"%>
      <% end %>
    </div>
    <p class="show_content-others">
      <strong>Property type:</strong>
      <%= @property.property_type %>
    </p>

    <p class="show_content-others">
      <strong>Location:</strong>
      <%= @property.location['name'] %>
    </p>
  </div>
  
  <%= render "form", property: @property, res: @res %>
</div>