<p>
  <strong>ID:</strong>
  <%= @property['public_id'] %>
</p>
<p>
  <%= @property['title'] %>
</p>
<p>
  <%= @property['description'] %>
</p>

<p>
  <% if @property['property_images'].empty? %>
    No hay imagen para mostrar
  <% else %>
    <%= image_tag "#{@property['property_images'][0]['url']}"%>
  <% end %>
</p>
<p>
  <strong>Property type:</strong>
  <%= @property['property_type'] %>
</p>

<p>
  <strong>Location:</strong>
  <%= @property['location']['name'] %>
</p>

<div>
  <%= link_to "Back", properties_path %>
</div>

<h2>Contact Form</h2>

<%= form_with url: "/contact", method: :post do |form| %>
  <div>
    <p>
      <%= @res[:error] if @res[:error] %>
      <%= "Contacto Enviado" if @res[:status] %>
    </p>
  </div>
  
  <div>
    <%= form.text_field :public_id, hidden: true, value: @property['public_id'] %> 
  </div>
  <div>
    <%= form.label :name, "Name:" %>
    <%= form.text_field :name %> 
  </div>
  <br>
  <div>
    <%= form.label :phone, "Phone:" %>
    <%= form.telephone_field :phone %> 
  </div>
  <br>
  <div>
    <%= form.label :email, "Email:" %>
    <%= form.email_field :email %> 
  </div>
  <br>
  <div>
    <%= form.label :message, "Message:" %>
    <%= form.text_area :message %> 
  </div>
  <br>
  <div>
    <%= form.submit "Enviar" %>
  </div>
<% end %>