<p>
  <strong>ID:</strong>
  <%= @property.public_id %>
</p>
<p>
  <%= @property.title %>
</p>
<p>
  <%= @property.description %>
</p>

<p>
  <% if @property.property_images.empty? %>
    No hay imagen para mostrar
  <% else %>
    <%= image_tag "#{@property.property_images[0]['url']}"%>
  <% end %>
</p>
<p>
  <strong>Property type:</strong>
  <%= @property.property_type %>
</p>

<p>
  <strong>Location:</strong>
  <%= @property.location['name'] %>
</p>

<div>
  <%= link_to "Back", properties_path %>
</div>

<%= render "form", property: @property, res: @res %>